/* * L E G A L * W A R N I N G * */

.legal-warning {
    display: block;
    width: 100%;
    clear: both;
}

.legal-warning.ok {
    display: none;
}

.warning-background {
    background-color: #fff;
    display: block;
    height: 100%;
    opacity: 0.95;
    position: fixed;
    width: 100%;
    z-index: 300;
}

.warning-main {
    color: #333;
    display: block;
    height: 33.1vw;
    margin: 5% auto;
    position: relative;
    text-align: center;
    top: 50%;
    width: 24vw;
    z-index: 350;
}

.warning-title {
    font-size: 2.1vw;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 1.5vw;
}

.warning-entry {
    font-size: 0.83vw;
    line-height: 1.5;
    margin: 0;
}

.warning-form {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 15.7vw;
}

.warning-error {
    width: 130%;
    position: absolute;
    left: -15%;
    font-size: 12px;
    margin-top: 16px;
    display: none;
}

.form-group {
    margin-top: 4.2vw;
    overflow: auto;
}

.warning-form input[type=number]::-webkit-inner-spin-button,
.warning-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.date-field {
    background-color: transparent;
    border-color: transparent transparent #b3b3b3 #b3b3b3;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    color: #333;
    display: inline-block;
    font-family: utopia-std-subhead, serif;
    font-size: 0.7vw;
    height: 3vw;
    margin: 0 0.5vw;
    padding: 0.1vw;
    text-align: center;
    width: 3vw;
}

.date-field:focus {
    border-color: transparent transparent #333 #333;
    outline: none
}

.date-year {
    width: 5vw;
}

label.warning-label {
    display: block;
    font-family: "Roboto";
    letter-spacing: 1px;
    margin-bottom: 1.2vw;
    text-transform: uppercase;
    width: 100%;
}

.warning-button {
    box-sizing: border-box;
    display: block;
    font-family: "Roboto";
    font-size: 0.7vw;
    height: 3vw;
    letter-spacing: 1px;
    line-height: 4.2;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

.warning-cancel {
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
    text-decoration: none;
}

.warning-submit {
    background: none no-repeat scroll 0 0 #000;
    border: medium none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #fff;
}
